<form method="get" action="/news">
  <div class="mb-3 mt-2">
    <label for="exampleInputEmail1" class="form-label">Search</label>
    <input type="text" name="Search" class="form-control" id="Search">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
